
*{
	background-color: rgb(247, 248, 206);
}

.bloco{
	height: 100px;
	width: 100px;
	border:solid 1px black;
	border-radius: 6px;
	margin: 5px;
	text-align: center;
	background-color: rgb(174, 248, 237);


}

/*Container 1 flex*/

.container1{

	display: flex;
}

/*container 2 display */

.container2{

	display: flex;
	flex-direction: row-reverse;
}

/*colunm-reverse*/

.container3{

	display: flex;
	flex-direction: column-reverse;
}

